<!DOCTYPE html>

<html>
	<head>
 		<meta name="viewport" content="width=device-width" />
 		<title>ZEV CMS</title>
 		<link rel="stylesheet" type="text/css" href="<%= routePath%>css/structure.css">
 		<link rel="stylesheet" type="text/css" href="<%= routePath%>css/style.css">
 		<link rel="stylesheet" type="text/css" href="<%= routePath%>css/mobilestyle.css">
 		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
 		

  	</head>
  	<script src="<%= routePath%>javascript/scripts.js"></script> 

<body>
	<div id="container">
		<div id="main_menu">
 			<h1 id="main_title">Electric Vehicles Data Intelligence (EVDI)</h1>
		</div>

		<div id="content">
			<%- include(page)%>
		</div>
		<footer>
			<span>EVDI -Developed by Zev.News</span>
		</footer>
	</div>  
</body>

</html>



