 <section class="create_document_section">
  <a href="/home">LIST VEHICLES</a>
</section>
 <% result.forEach((result) => { %>
<form action="/update" method="post">
<section class="document_feature_box">
  <div class="document_feature">
        <label for="vtype">Type:</label>
        <input type="text" id="vtype" name="vtype" value="<%= result.vtype%>">
        <label for="vclass">Class:</label>
        <input type="text" id="vclass" name="vclass" value="<%= result.vclass%>">
  </div>

  <div class="document_feature">
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" value="<%= result.brand%>">
        <label for="model">Model:</label>
        <input type="text" id="model" name="model"  value="<%= result.model%>">
        <label for="vversion">Version:</label>
        <input type="text" id="vversion" name="vversion"  value="<%= result.vversion%>">
        <label for="vyear">Year:</label>
        <input type="text" id="vyear" name="vyear"  value="<%= result.vyear%>">
  </div>

  <div class="document_feature">
       <label for="weight">Weight:</label>
       <input type="text" id="weight" name="weight" value="<%= result.weight%>">

       <select name="weight_u" id="weight_u">
          <% if (result.weight_u == "kg"){ %>
          <option value="<%= result.weight_u%>"><%= result.weight_u%></option>
          <option value="lbs">lbs</option>
          <%} else {%>
          <option value="<%= result.weight_u%>"><%= result.weight_u%></option>
          <option value="kg">kg</option>
          <%}%>
       </select>
       
       <label for="width">Width:</label>
       <input type="text" id="width" name="width" value="<%= result.width%>">
       
       <label for="lenght">Lenght:</label>
       <input type="text" id="lenght" name="lenght" value="<%= result.lenght%>">
       
       <label for="height">Height:</label>
      <input type="text" id="height" name="height" value="<%= result.height%>">
  </div>


  <div class="document_feature">
    <label for="structure">Structure:</label>
    <input type="text" id="structure" name="structure" value="<%= result.structure%>">
    
    <label for="front_suspension">Front Suspension:</label>
    <input type="text" id="front_suspension" name="front_suspension" value="<%= result.front_suspension%>">
    
    <label for="front_suspesion_travel">Front Suspension Travel</label>
    <input type="text" id="front_suspension_travel" name="front_suspension_travel" value="<%= result.front_suspension_travel%>">
    
    <label for="rear_suspension">Rear Suspension:</label>
    <input type="text" id="rear_suspension" name="rear_suspension" value="<%= result.rear_suspension%>" >
    
    <label for="rear_suspension_travel">Rear Suspension Travel:</label>
    <input type="text" id="rear_suspension_travel" name="rear_suspension_travel" value="<%= result.rear_suspension_travel%>" >
 </div>

 <div class="document_feature">
    <label for="camber">Camber:</label>
    <input type="text" id="camber" name="camber" value="<%= result.camber%>">
    
    <label for="caster">Caster:</label>
    <input type="text" id="caster" name="caster" value="<%= result.caster%>">
    
    <label for="trail">Trail:</label>
    <input type="text" id="trail" name="trail" value="<%= result.trail%>">
    
    <label for="rake">Rake:</label>
    <input type="text" id="rake" name="rake" value="<%= result.rake%>">
 </div>

  <div class="document_feature">
    <label for="front_brakes">Front Brakes:</label>
    <input type="text" id="front_brakes" name="front_brakes" value="<%= result.front_brakes%>">
    
    <label for="rear_brakes">Rear Brakes:</label>
    <input type="text" id="rear_brakes" name="rear_brakes" value="<%= result.rear_brakes%>">
    
    <label for="front_wheels">Front Wheels:</label>
    <input type="text" id="front_wheels" name="front_wheels" value="<%= result.front_wheels%>">
    
    <label for="rear_wheels">Rear Wheels:</label>
    <input type="text" id="rear_wheels" name="rear_wheels" value="<%= result.rear_wheels%>">
    
    <label for="front_tyres">Front Tyres:</label>
    <input type="text" id="front_tyres" name="front_tyres" value="<%= result.front_tyres%>">
    
    <label for="rear_tyres">Rear Tyres</label>
    <input type="text" id="rear_tyres" name="rear_tyres" value="<%= result.rear_tyres%>">
 </div>
 
</section>

<section class="document_feature_box">
            
        <div class="document_feature">
        <label for="power1">Power:</label>
        <input type="text" id="power1" name="power1" value="<%= result.power1%>">
        <select name="power_u" id="power_u">
          <% if (result.power_u == "kw"){ %>
          <option value="<%= result.power_u%>"><%= result.power_u%></option>
          <option value="hp">hp</option>
          <%} else {%>
          <option value="<%= result.power_u%>"><%= result.power_u%></option>
          <option value="kw">kw</option>
          <%}%>
       </select>
        
        <label for="torque1">Torque:</label>
        <input type="text" id="torque1" name="torque1" value="<%= result.torque1%>">

          <select name="torque_u" id="torque_u">
          <% if (result.torque_u == "kgfm"){ %>
          <option value="<%= result.torque_u%>"><%= result.torque_u%></option>
          <option value="lbft">lbft</option>
          <option value="nm">nm</option>
          <%} else if (result.torque_u == "lbft") {%>
          <option value="<%= result.torque_u%>"><%= result.torque_u%></option>
          <option value="kgfm">kg</option>
          <option value="nm">nm</option>
          <%} else {%>
          <option value="nm">nm</option>
          <option value="kgfm">kgfm</option>
          <option value="lbft">lbft</option>
          <%}%>
       </select>
        
        <label for="axis1">Axis:</label>
        <input type="text" id="axis1" name="axis1" value="<%= result.axis1%>">
        
        <label for="type1">Type:</label>
        <input type="text" id="type1" name="type1" value="<%= result.type1%>">
       </div>

       <div class="document_feature">
          <label for="power2">Power:</label>
          <input type="text" id="power2" name="power2" value="<%= result.power2%>">
          
          <label for="torque2">Torque:</label>
          <input type="text" id="torque2" name="torque2" value="<%= result.torque2%>">
          
          <label for="axis2">Axis:</label>
          <input type="text" id="axis2" name="axis2" value="<%= result.axis2%>">
          
          <label for="type2">Type:</label>
          <input type="text" id="type2" name="type2" value="<%= result.type2%>">
      </div>


 <div class="document_feature">
    <label for="power3">Power:</label>
    <input type="text" id="power3" name="power3" value="<%= result.power3%>">
    
    <label for="torque3">Torque:</label>
    <input type="text" id="torque3" name="torque3" value="<%= result.torque3%>">
    
    <label for="axis3">Axis:</label>
    <input type="text" id="axis3" name="axis3" value="<%= result.axis3%>">
    
    <label for="type3">Type:</label>
    <input type="text" id="type3" name="type3" value="<%= result.type3%>">
 </div>

 <div class="document_feature">
    <label for="power4">Power:</label>
    <input type="text" id="power4" name="power4" value="<%= result.power4%>">
    
    <label for="torque4">Torque:</label>
    <input type="text" id="torque4" name="torque4" value="<%= result.torque4%>">
    
    <label for="axis4">Axis:</label>
    <input type="text" id="axis4" name="axis4" value="<%= result.axis4%>">
    
    <label for="type4">Type:</label>
    <input type="text" id="type4" name="type4" value="<%= result.type4%>">
 </div>
 <div class="document_feature">
    <label for="power5">Power:</label>
    <input type="text" id="power5" name="power5" value="<%= result.power5%>">

    <label for="torque5">Torque:</label>
    <input type="text" id="torque5" name="torque5" value="<%= result.power5%>">

    <label for="axis5">Axis:</label>
    <input type="text" id="axis5" name="axis5" value="<%= result.axis5%>">

    <label for="type5">Type:</label>
    <input type="text" id="type5" name="type5" value="<%= result.type5%>">
 </div>

 <div class="document_feature">
        <label for="power6">Power:</label>
        <input type="text" id="power6" name="power6" value="<%= result.power6%>">
        
        <label for="torque6">Torque:</label>
        <input type="text" id="torque6" name="torque6" value="<%= result.torque6%>">
        
        <label for="axis6">Axis:</label>
        <input type="text" id="axis6" name="axis6" value="<%= result.axis6%>">
        
        <label for="type6">Type:</label>
        <input type="text" id="type6" name="type6" value="<%= result.type6%>">
      </div>
</section>


<section class="document_feature_box">
  
    <div class="document_feature">
    <label for="rear_gear_box">Rear Gearbox:</label>
    <input type="text" id="rear_gear_box" name="rear_gear_box" value="<%= result.rear_gear_box %>">

    <label for="front_gear_box">Front Gearbox:</label>
    <input type="text" id="front_gear_box" name="front_gear_box" value="<%= result.front_gear_box%>">

    <label for="final_drive">Final Drive</label>
    <input type="text" id="final_drive" name="final_drive" value="<%= result.front_gear_box%>">

    <label for="final_drive_ratio">Final Drive Ratio:</label>
    <input type="text" id="final_drive_ratio" name="final_drive_ratio" value="<%= result.final_drive_ratio%>">
 </div>
 
 

  <div class="document_feature">
    <label for="capacity">Capacity:</label>
    <input type="text" id="capacity" name="capacity" value="<%= result.capacity%>">

     <label for="super_charging">Super Charging:</label>
    <input type="text" id="super_charging" name="super_charging" value="<%= result.super_charging%>">


    <label for="home_charging">Home Charging:</label>
    <input type="text" id="home_charging" name="home_charging" value="<%= result.home_charging%>">

    <label for="cell_numbers">Cell Numbers:</label>
    <input type="text" id="cell_numbers" name="cell_numbers" value="<%= result.cell_numbers%>">

    <label for="voltage">Voltage:</label>
    <input type="text" id="voltage" name="voltage" value="<%= result.voltage%>">
  </div>

   <div class="document_feature">
    <label for="towing">Towing:</label>
    <input type="text" id="towing" name="towing" value="<%= result.towing %>">

     <label for="payload">Payload:</label>
    <input type="text" id="payload" name="payload" value="<%= result.payload %>">


    <label for="approach_angle">Approach Angle:</label>
    <input type="text" id="approach_angle" name="approach_angle" value="<%= result.approach_angle%>">

    <label for="departure_angle">Departure Angle:</label>
    <input type="text" id="departure_angle" name="departure_angle" value="<%= result.departure_angle%>">

    <label for="breakover">Breakover Angle:</label>
    <input type="text" id="breakover" name="breakover" value="<%= result.breakover%>">
  </div>

  <div class="document_feature">
    <label for="acceleration">Acceleration:</label>
    <input type="text" id="acceleration" name="acceleration" value="<%= result.acceleration%>">

    <label for="speed">Speed:</label>
    <input type="text" id="speed" name="speed" value="<%= result.speed%>">
    <select name="speed_u" id="speed_u">
          <% if (result.speed_u == "kmh"){ %>
          <option value="<%= result.speed_u%>"><%= result.speed_u%></option>
          <option value="mph">mph</option>
          <%} else {%>
          <option value="<%= result.speed_u%>"><%= result.speed_u%></option>
          <option value="mph">mph</option>
          <%}%>
       </select>

    <label for="quarter_mille">1/4 Mille:</label>
    <input type="text" id="quarter_mille" name="quarter_mille" value="<%= result.quarter_mille%>">

    <label for="range">Range:</label>
    <input type="text" id="range" name="range" value="<%= result.range%>">
    <select name="range_u" id="range_u">
          <% if (result.range_u == "km"){ %>
          <option value="<%= result.range_u%>"><%= result.range_u%></option>
          <option value="miles">miles</option>
          <%} else {%>
          <option value="<%= result.range_u%>"><%= result.range_u%></option>
          <option value="km">km</option>
          <%}%>
       </select>

    
    <input type="submit" value="Update Vehicle">
  </div>

 
</section>
<input type="hidden" id="_id" name="_id" value="<%= result._id %>">
 </form>
 <%});%> 